
.container{
    height: 100vh;
    width: 100%;
    background: url("/src/assets/home-cover.jpg");
    background-position: center;
    background-size: cover;
	/* background-attachment: fixed; */

    padding-top: 30px;
}

.writer{

    position: absolute;
    top: 35%;
    left:30%;
    color: #dde9f7;
}


.nav{
    background-color: #dde9f7; 
    width: 100vw;
    position:fixed;
    z-index: 50;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 150px 5px 150px;
}

.nav_item{
    display: inline;
    cursor: pointer;
    transition: all smooth ;
    padding:3px;
    margin :5px;
    text-transform: uppercase;
    color:black;
}
.nav_item:hover{
    border-bottom: 2px solid blue;
}
.imgContainer{
border-radius: 2px;
}
.sections{
	padding: 0px 15px;
}
.img{
    height: 70px;
    border-radius: 100px;
    
}