
.footer{
	display: flex;
    flex-direction: column;
		
    background-color: black;
    opacity: 80%;
    color: white;
    padding: 25px ;
    margin-top: 5px;
}

.contacts{
    margin: 20px 5px;
    padding: 20px;
    display: flex;
    justify-items:center;
    justify-content: space-around;
    align-items: center;
    color: black;
}

.card{
    padding: 10px 30px;
    background-color: white;
    border-radius: 25px;

    display: flex;
    align-items: center;
    
}

.brand_logo{
    margin: 10px;
    
}

.logo_img{
    border-radius: 100%;
}
.fb{
    text-transform: none;
    text-decoration: none;
}
.footer_fb{
    color: aliceblue;
}

.img_contact{
    height: 35px;
    margin: 15px;
 }


@media screen and (max-width:640px){
	
    .contacts{
        flex-direction: column;
        
    }
    .card{
        margin: 8px 3px ;
    }

}